* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */

.header {
    background-color: #FFF8F3;
    background-image: url("/images/header_bg.png"), url("/images/developer.png");
    background-position: bottom right, left;
    background-repeat: no-repeat;
}



nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    background-color: #FD6E0A;
    color: rgb(253, 253, 253);
    font-weight: 400;
    font-size: 18px;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;

}

.primary-color {
    color: #FD6E0A;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin-left: 50px;
}

/* nav banner style */

.banner {
    display: flex;
    margin: 0 200px;
    justify-content: center;
    align-items: center;

}

#banner-subtitle {
    color: #474747;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
}

#banner-title {
    color:  #181818;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

#banner-description {
    color: #757575;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column; */

}


/* About Me*/

.about {
    max-width: 1140px;
    margin: 100px 200px;
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 150px 130px;
    text-align: center;

}

.section-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 35px;

}

.section-description {
    color: #757575 ;
    margin-bottom: 30px;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-title {
    color: #757575;
    font-size: 15px;

}

.about-description {
    font-weight: 600;
    font-size: 15px;
}

/* What I do section styles */